<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Simple</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html")

        <header class="header">
            <div class="header__wrap container">
              <div class="header__logo logo">
                  <a href="/" class="logo__link">
                    Simple1
                  </a>
              </div>
              <!-- /.logo -->
              <nav class="header__nav-box">
                <ul class="nav">
                  <li class="nav__item active">
                    <a href="/catalog.html" class="nav__link">1Товары</a>
                  </li>
                  <!-- /.nav__item -->
                  <li class="nav__item ">
                    <a href="/questions.html" class="nav__link">Вопросы</a>
                  </li>
                  <!-- /.nav__item -->
                  <li class="nav__item ">
                    <a href="/articles.html" class="nav__link">Статьи</a>
                  </li>
                  <!-- /.nav__item -->
                  <li class="nav__item ">
                    <a href="/contacts.html" class="nav__link">Контакты</a>
                  </li>
                  <!-- /.nav__item -->
                </ul>
                  <!-- /.nav -->
              </nav>
              <!-- /.header__nav-box  -->
              <button class="burger">
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
              </button>
              <!-- /.burger -->
            </div>
        </header>

        <svg class="icon">
            <use xlink:href="sprite/mono.svg#fb"></use>
        </svg>
        <svg class="icon">
            <use xlink:href="sprite/mono.svg#vk"></use>
        </svg>
        <svg class="icon">
            <use xlink:href="sprite/mono.svg#tg"></use>
        </svg>
        <svg class="icon">
            <use xlink:href="sprite/mono.svg#wsapp"></use>
        </svg>
        <svg class="icon">
            <use xlink:href="sprite/multi.svg#instagram"></use>
        </svg>
        <svg class="icon">
            <use xlink:href="sprite/multi.svg#success"></use>
        </svg>
        
        <img width="32px" src="sprite/multi.svg#instagram" alt="instagram">

        @@include('blocks/picture.html', {
            "src":"img/pic-1",
            "alt": "Здание",
        })
        @@include('blocks/picture.html', {
            "src":"img/pic-2",
            "alt": "Горы",
        })
        @@include('blocks/picture.html', {
            "src":"img/pic-3",
            "alt": "Природа",
        })

        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>